.background-scientist{
  background: url("images/image_accueil.jpg") no-repeat;
  height: 90vh;
  
  filter: blur(10px) brightness(60%);
}

.logo-text{
  position: absolute;
  text-align: center;
  padding-top: 5vh;
}

.no-point{
  list-style: none;
}

body{
  background-color: #708FCD;
}
nav{
  padding-top: 2vh;
  justify-content: space-between;
}

nav li{
  display: inline;
}

nav a{
  text-decoration: none;
  color: white;
  background-color: #123E6A;
  border-radius: 5px;
  padding: 7px 5px;
}

nav a:hover{
  color: #123E6A;
  background-color: white;
}

table, th, td {
  background-color: #708FCD;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 1vh;
}

.imgtab{
  width: 30vh;
}

footer {
  display: block;
  text-align: start;
  padding: 1vh;
  border: black 2px solid;
  border-bottom: 0px solid;
  margin-top: 3vh;
  background-color: #708FCD;
  color: #fff;
}